<h1>Change the attributes for your figure below:</h1>

<h3><%=@figure.name%></h3>

Line below may be incorrect. May have to show the last landmark created.
<h3><%=@figure.landmarks.first%></h3>


<form action="/figures/<%= @figure.id%>" method="POST">
  <label>Name: </label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>
  <label>Title ID: </label>
  <input type="text" name="figure[title_ids]" id="title_id">
  <br></br>
  <label>Landmark: </label>
  <input type="text" name="figure[landmark][name]" id="new_landmark">
  <%@figure.landmarks.each do |landmark|%>
  <input type="checkbox" name="figure[landmarks][name]" id="<%= landmark.name%>" value="<%=landmark.name%>" <%= 'checked' if @figure.landmarks.include?(landmark) %>><%=landmark.name%></input>
  <%end%>

  <br></br>
  <%@figure.titles.each do |title|%>
  <input type="checkbox" name="figure[titles][name]" id="<%= title.name%>" value="<%=title.name%>" <%= 'checked' if @figure.titles.include?(title) %>><%=title.name%></input>
  <%end%>
  <input type="submit" value="Edit Figure">
</form>
